sphinx-env
*.pyc
*.mo
*.swp
.DS_Store
Thumb.db
desktop.ini
conf.py
*.*~
*.orig
*~
~*
/api/
/docs/
build/*
/publish/
output
build.log
*.doctree
.doctrees/
#i18n/*
live
.idea
virtualenv
source/i18n/*/conf.py
source/static/
sphinx_rtd_theme/
.token*
