/* adds scrollbar to sidenav */
.wy-side-scroll {
   width: auto;
   overflow-y: hidden;
   display: flex;
   flex-direction: column;
}

.wy-menu.wy-menu-vertical {
   height: 100vh;
   overflow-y: auto;
}

/* Widen space for the documentation content*/
.wy-nav-content {
	max-width: 1260px;
}

/* override table width restrictions
from https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: auto !important;
   }
}
