.graphviz {
   margin-top: 10px;
   margin-bottom: 10px;
}

/* adds scrollbar to sidenav */
.wy-side-scroll {
   width: auto;
   overflow-y: hidden;
   display: flex;
   flex-direction: column;
}

.wy-menu.wy-menu-vertical {
   height: 100vh;
   overflow-y: auto;
}

/* Widen space for the documentation content*/
.wy-nav-content {
	max-width: 1260px;
}

/* override table width restrictions
from https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: auto !important;
   }
}

/* Style for the virtual method label with tooltip and link */
em.property > a.virtualmethod-link {
  position: relative;
  cursor: pointer;
  color: #555;
}

.custom-tooltip {
  font-style: normal;
  font-weight: normal;
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

em.property > a.virtualmethod-link:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}
